@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');


#container{
    display: grid;
    height: 98vh;
    width: 98vw;
    gap: 1vh;
    grid-template-columns: 20% 44% 35%;
    grid-template-rows: 20% 65% 35%;
    grid-template-areas:
        'hd hd hd'
        'mn mn as'
        'ft ft ft'
}
#container2{
    display: grid;
    height: 98vh;
    width: 98vw;
    gap: 1vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 65% 35%;
    grid-template-areas:
        'hd hd'
        'mn mn'
        'ft ft';
}

.container3{
    display: grid;
    height: 98vh;
    width: 98vw;
    gap: 1vh;
    grid-template-columns: 70% 29%;
    grid-template-rows: 20% 70% 35%;
    grid-template-areas:
        'hd hd'
        'mn as'
        'ft ft';
}


body{
    background-color:rgba(0,0,0,0.2);
}

header{
    grid-area: hd;
    /* background-color: #e74c3c; */
    border-radius: 8px;
    display: grid;
}

h1{
    text-align: center;
    font-size: 57px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

#h1color{
    color: #e74c3c;

}

nav{
    display: flex;
    justify-content: right;
    font-size: 25px;
    font-weight: 500;
    gap: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-right: 2vw;
    margin-top: -150px; 
}

nav a{
    text-decoration: none;
    color: black;
}

main#mainhome{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: mn;
    /* background-color: aqua; */
    border-radius: 8px;
    background-image: url(/kundenhar2024/img/gymbackground.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 10px #e74c3c solid;
}

main#mainprogram{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px; 
    column-gap: 0px;
}

#car1{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Oswald;
    border: #e74c3c 2px solid;
}
#car2{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Oswald;
    border: #e74c3c 2px solid;
}
#car3{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Oswald;
    border: #e74c3c 2px solid;
}
#car4{
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Oswald;
    font-weight: bold;
    border: #e74c3c 2px solid;
}

.workoutcat{
    font-size: 25px;
    padding-left: 10px;
    margin-top: 10px;
}

.hyphen-list{
    list-style-type: none;
    padding-left: 20px;
    font-size: 20px;
    font-family: Oswald;
    font-weight: bold;
}

.hyphen-list li::before{
    content: "- ";
}

.quote {
    display: flex;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family:playfair display;
    
    
}

.quote em {
    /* color:red; */
    background-color:rgba(0,0,0,0.5);

}


main#mainhealth{
    border-radius: 8px;
}

.advicerubrik{
    margin-top: 0px;
}

#advcard1{
    background-color: pink;
    border-radius: 8px;
    height: 33.3%;
    width: auto;
}

#advcard2{
    background-color: blue;
    border-radius: 8px;
    height: 33.3%;
    width: auto;
}

#advcard3{
    background-color: lightgreen;
    border-radius: 8px;
    height: 33.3%;
    width: auto
}

aside#asidemain{
    grid-area: as;
    border-radius: 8px;
    background-color:#e74c3c;
    display: flex;
    align-items: center;
    flex-direction: column;
}

aside#asidehealth{
    grid-area: as;
    background-color: red;
    width: auto;
    border-radius: 8px;
}

#welcometext{
    font-family: Oswald;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:400;

}

#asidetext1{
    font-size: 21px;
    margin-top: 0px;
    font-family: Oswald;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 8px;
    
}

footer{
    grid-area: ft;
    /* background-color: orange; */
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}

.footertext1{

    justify-content: right;
    font-family: Oswald;
    font-size: 25px;
}

.footertext2{

    justify-content: right;
    font-family: Oswald;
    font-size: 15px;
    margin-top: 0px;
}

.footertext2:hover{
    color: #e74c3c;
    width: auto;
}