@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Wet+Paint&display=swap');


#container{
    display: grid;
    height: 98vh;
    width: 98vw;
    gap: 1vh;
    grid-template-columns: 20% 44% 35%;
    grid-template-rows: 20% 65% 25%;
    grid-template-areas:
        'hd hd hd'
        'mn mn as'
        'ft ft ft'
}
#container2{
    display: grid;
    height: 98vh;
    width: 98vw;
    gap: 1vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 65% 20%;
    grid-template-areas:
        'hd hd'
        'mn mn'
        'ft ft'
}

body{
    background-color: #e74c3c;
}

header{
    grid-area: hd;
    /* background-color: #e74c3c; */
    border-radius: 8px;
}

h1{
    text-align: center;
    font-size: 57px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

nav{
    display: flex;
    justify-content: right;
    font-size: 25px;
    font-weight: 500;
    gap: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-right: 2vw;
    margin-top: -150px; 
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    grid-area: mn;
    /* background-color: aqua; */
    border-radius: 8px;
   background-image: url(/kundenhar2024/img/gymbackground.avif);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.quote {
    display: flex;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 36px;
    font-family:playfair display;
    
}

.quote em {
    /* color:red; */
    background-color:rgba(0,0,0,0.5);

}

aside{
    grid-area: as;
    border-radius: 8px;
}

#asidetext1{
    font-size: 21px;
    font-family: Oswald;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer{
    grid-area: ft;
    /* background-color: orange; */
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}

.footertext1{

    justify-content: right;
    font-family: Oswald;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.footertext2{

    justify-content: right;
    font-family: Oswald;
    font-size: 15px;

    margin-top: 0px;
}